@use "../vars.scss" as vars;

body {
  overflow: hidden;
  margin: 0;
}

// Lightbox root styling
.yarl__root {
    // background-color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8);

  .yarl__carousel {
    max-height: 100%;
    height: auto;
    
    img {
      @media screen and (max-width: 1024px) {
        margin-left: 0 !important; 
      }
    }
  }

  .exif-image-data__wrap {
    padding: 1em;
    position: relative;
    height: calc(100% - 50px);
    transform: translateY(25px);
    width: 100%;

    @media screen and (max-width: 1024px) {
      padding: 0 !important;
      transform: translateY(0) !important;
      display: none;
    }

    > * {
      font-family: "Quicksand", sans-serif;
      color: #fff;
      font-size: 1em;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
    }
   
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-weight: 700;
        margin: 0;
        padding: 0;
        line-height: 1em;
        padding-top: 10px;
      }

      li:first-of-type { padding-top: 0; }

      li img {
        transform: translateY(-2px);
      }
    }

    dl {
      margin-top: 30px;
      line-height: 1em;
    }

    // 
    dl div {
      margin-top: 10px;
    }

    dt, dd {
      display: inline;
    }
    dd {
      margin-left: 10px;
    }
    dd small {
      transform: translateY(-2px);
      display: inline-block;
      margin-left: 5px;
    }

  }
}

// Slide image styling
.yarl__slide_image {
  object-fit: contain !important;
  max-width: 100%;
  max-height: 100%;
}

// Portal animation
.yarl__portal {
  transform: scale(0.9);
  // transition: all .3s ease;

  &.yarl__portal_open {
    transform: scale(1);
  }

  // Container background + slide blur
  .yarl__container {
    // background-color: rgba(0, 0, 0, 0.8);

    @media screen and (max-width: 700px) {
      // background-color: rgba(0, 0, 0, 0.9);
    }

    .yarl__slide {
      padding: 2em;
      backdrop-filter: blur(5px);
    }
  }

  // Thumbnail strip styling
  .yarl__thumbnails_container {
    // background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);

    @media screen and (max-width: 700px) {
      // background-color: rgba(0, 0, 0, 0.9);
    }
  }
  

  .yarl__thumbnails_thumbnail {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    filter:contrast(.6)
  }

  .yarl__thumbnails_thumbnail_active {
    transform: scale(1.25);
    filter:contrast(1)

  }

  // Navigation buttons
  .yarl__button {
    &.yarl__navigation_next,
    &.yarl__navigation_prev {
      width: 20%;
      height: 70%;
      background-color: transparent;
      box-shadow: none;

      @media screen and (max-width: 700px) {
        opacity: 0;
      }

      .yarl__icon {
        position: absolute;
      }
    }

    &.yarl__navigation_next .yarl__icon {
      right: 10%;
    }

    &.yarl__navigation_prev .yarl__icon {
      left: 10%;
    }
  }
  
  // Toolbar buttons
  .yarl__toolbar .yarl__button {
    background-color: transparent;
    box-shadow: none;
  }

  // Icon styling
  .yarl__icon {
    color: #b08e21;
    width: 6rem;
    height: 6rem;
    // transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }
}

.lightbox-figure__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: vars.$large;
  height: 100%;
  flex-direction: row;
  padding: 0 10%;

  @media screen and (max-width: 700px) {
    padding: 0 0;
  }

  img {
    max-height: 100%;
    object-fit: contain;
  }
}